*{
	margin: 0px;
	padding: 0px;
}

header{
    background: linear-gradient(180deg, rgba(254, 85, 23, 0.8) 31.25%, rgba(254, 102, 46, 0.4) 91.15%),
    linear-gradient(0deg, #FE662E, #FE662E);
    width: auto;
    height: 630px;
    left: 0px;
    top: 0px;

}

.imgusuario{
    position: absolute;
    width: 367px;
    height: 386px;
    left:0;
    top: 200px;
    padding-left: 150px;
    padding-right: 100px;
}


.imgusuario123{
    position: absolute;
    width: 367px;
    height: 386px;
    left:0;
    top: -90px;
    padding-left: 150px;
    padding-right: 100px;
}
.textoH2{
    padding: 115px 0 18px 99px;
}
.heandernavaimg{        
    margin: -200px 0 -50px 25px;  
}
.menu_form{
    color: #fff;
    text-decoration:none;
    padding: 0 0 262px 0;
    padding-left: 25%; 
    margin-top: 100px; 
}


.button{
    background-color: #6263AB;
    color: #fff;
    text-decoration:none;
    height: 48px;
    width: 173px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
    text-align: center; 
    padding: 12px 0 0 0;
    margin-right: 23.24px;
}


.button:hover{
    background-color: #36357E;
    color: #fff;
    text-decoration: none;
    height: 48px;
    width: 173px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
}

H2{
    font-size: 48px;
    color: #fff;
    font-family:'Montserrat', sans-serif bold;
}
